header.uwv-head
  block header
    a.logo(
      href=manifest.homepage_url
      target='_blank'
    )
      img.logo-icon(
        src=require('images/uwv-icon.svg').default
        alt=manifest.name
        draggable="false"
      )

      span.logo-text=manifest.name
