extends pug/partials/layout

block append config
  - var title = 'Welcome'
  - var font = 'Roboto+Condensed:700|Roboto:300,400,500,700'

block append styles
  link(href='styles/welcome.css' rel='stylesheet')

block content
  div.intro.spacing-l
    p.intro-title Thank you!
    .intro-description
      p Thank you for installing this extension...
      p I'd highly appreciate if you have a minute of your time to submit a review.


  ul.browser-list
    each browser in data.browsers
      li.browser-list-item
        a.browser-list-link(
          href=browser.link
          target='_blank'
        )
          img.browser-list-image(
            src=browser.icon
            alt=`${browser.name} Extension`
          )


  section.category
    .category-head
      h3#donation
        a(href='#donation') #
        |  Donations
        
    .category-body
      p If you enjoy using this extension, if it makes your life any better and if you're a kind person, please consider sending a donation to keep the long life span and consistent updates for this extension.
      a(
        href='https://www.paypal.me/dvlden' 
        target='_blank'
      ) Buy me a drink or a meal?


  section.category
    .category-head
      h3#issues 
        a(href='#issues') #
        |  Issues

    .category-body
      p In case of any issues with the extension, please do not attempt to contact me through the "Support" on the browser store. It's hard to keep the track of the issues through multiple browser stores, as this extension supports all major browsers.
      p A proper place to open up a bug report, suggestion or improvement is through the official repository: 

      a(
        href=manifest.homepage_url.replace('.git', '/issues')
        target='_blank'
      ) Visit official repository


  section.category
    .category-head
      h3#features 
        a(href='#features') #
        |  Features

    .category-body
      p This is the only extension on the market that has two major functionalities that no other extension in this category has. 

      ul.list
        li.list-item Works on all video streaming platforms.
        li.list-item Works on all embedded videos.


  section.category
    .category-head
      h3#options 
        a(href='#options') #
        |  Options

    .category-body
      p The extension is fairly easy to use, but very powerful and useful.

      ul.list
        li.list-item Pause the extension.
          span It will stop listening for all memory consuming events and restore any DOM manipulations.  

        li.list-item Toggle between modes.
          span Toggle between different modes that will affect the video: normal, upscale and stretch. 

        li.list-item Configurable shortcuts. 
          span Set the desired keystroke, with min/max of 3 keys to control pause or mode toggling.
